.tcd_container {
  width: 34vw;
  height: 99.7vh;
  /* background: rgb(116, 116, 216); */
  margin: auto;
  margin-left: -2vw;
}

.tcd_decore {
  margin-left: auto;
  width: 40vw;
  height: 49vw;
  border: 0.1vmax solid rgb(255, 255, 255);
  background-image: url('../../../content/tripDecore.png');
  background-repeat: no-repeat;
  background-size: 35vw 60vh;
  background-position-x: 6vw;
}

.tcd_parentCard {
  width: 24vw;
  height: 25vw;
  margin-top: 20vh;
  margin-left: 4vw;
  border-radius: 2vmax;
}

.tcd_parentCardImg1 {
  margin-left: -5.3vw;
  margin-top: -0.3vw;
}
.tcd_parentCardImg2 {
  margin-left: 9.15vw;
  margin-top: -36.3vw;
  margin-bottom: 5.3vw;
}
