* {
  margin: 0;
  padding: 0;
}

.sp_container {
  height: 686.7px;
  width: 85%;
  margin: auto;
  margin-top: 120px;
  /* border: 1px solid rgb(253, 0, 0); */
}

.sp_contents {
  margin: auto;
  height: 686.7px;
  width: 1110px;
  /* width: 85%; */
}

.sp_group4 {
  background-image: url('../../content/Group 4.png');
  background-repeat: no-repeat;
  background-size: 145.92px 144.97px;
  width: 145.92px;
  height: 144.97px;
  margin-top: -103.005px;
  margin-left: auto;
  margin-right: -138.24px;
}

@media all and (max-width: 600px) {
  .sp_container {
    height: 1250px;
  }
  .sp_contents {
    margin-top: -80px;
    width: 295px;
    /* margin-left: -150px; */
  }
  .sp_group4 {
    background-image: none;
    margin: 0%;
  }
}
