* {
  margin: 0;
  padding: 0;
}

.sp_container {
  height: 96vh;
  margin-top: 10vh;
  /* border: 1px solid rgb(253, 0, 0); */
}

.sp_contents {
  margin: auto;
  height: 90vh;
  width: 85vw;
}

.sp_group4 {
  background-image: url('../../content/Group 4.png');
  background-repeat: no-repeat;
  background-size: 9.5vw 19vh;
  width: 9.5vw;
  height: 19vh;
  margin-top: -13.5vh;
  margin-left: auto;
  margin-right: -3vw;
}
