.hp_container {
  position: relative;
  height: 709.59px;
  padding-top: 22.89px;
  /* background-image: url('../../content/HeroDecore.png');
  background-repeat: no-repeat;
  background-size: 368.64px 11.445px;
  background-position-x: 370px;
  background-position-y: 282px; */
}

.hp_plane1 {
  position: relative;
}

.hp_plane2 {
  position: relative;
}

.hp_ellipse8 {
  background-image: url('../../content/Ellipse 8.png');
  background-repeat: no-repeat;
  background-size: 4vw 50vh;
  width: 4vw;
  height: 50vh;
  margin-top: -83vh;
}

.hp_decore {
  background-image: url('../../content/Decore.png');
  background-repeat: no-repeat;
  background-size:  647.92px  675.84px;
  background-position: center;
  width:  647.92px;
  height:  675.84px;
  margin-left: auto;
  margin-top: -100vh;
  margin-bottom: auto;
}
