* {
  margin: 0;
  padding: 0;
  /* border: 1px solid rgb(253, 0, 0); */
}

.bt_container {
  /* position: inherit; */
  height: 99.7vh;
  width: 98.5vw;
  /* border: 1px solid rgb(253, 0, 0); */
}

.bt_contents {
  display: flex;
  margin: auto;
}
