* {
  margin: 0;
  padding: 0;
  /* border: 1px solid rgb(253, 0, 0); */
}

.bt_container {
  margin: auto;
  height: 760.711px;
  width: 1495px;
}

.bt_contents {
  display: flex;
  margin: auto;
}

@media all and (max-width: 600px) {
  .bt_container {
    height: 1010px;
    width: 350px;
  }
  .bt_contents {
    flex-wrap: wrap;
  }
}