.tmc_container {
  height: 50vh;
  width: 35vw;
  /* background: rgb(136, 216, 116); */
  margin: auto;
  margin-left: 10vw;
}

.tmc_carousel {
  margin-top: 4vmax;
  height: 30vh;
  width: 35vw;
}

.slick-dots {
  text-align: left;
}

.slick-dots li button:before {
  font-size: 0.8vmax;
  margin-top: 2vmax;
}

.tmc_heading {
  line-height: 2vmax;
  text-transform: uppercase;
  margin-left: 0.3vmax;
}

.tmc_subheading {
  margin-left: 0.3vmax;
  font-size: 4vmax;
  line-height: 5.5vmax;
  text-transform: capitalize;
}
