.dl_container {
  /* border: 1px solid #84829a; */
  width: 80vw;
  display: flex;
  margin: auto;
  background-image: url('../../../content/ddDecore.png');
  background-repeat: no-repeat;
  background-size: 4.5vw 19vh;
  background-position-x: 151.4vh;
  background-position-y: 35vh;
}

.dl_card1 {
  margin: auto;
  width: 20vw;
  height: 60vh;
  /* border: 1px solid #ff0000; */
  background-image: url('../../../content/destination-1.png');
  background-repeat: no-repeat;
  background-size: 20vw 60vh;

  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 3vh;
}

.dl_card2 {
  margin: auto;
  width: 20vw;
  height: 60vh;
  /* border: 1px solid #00e1ff; */
  background-image: url('../../../content/destination-2.png');
  background-repeat: no-repeat;
  background-size: 20vw 60vh;

  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 3vh;
}

.dl_card3 {
  margin: auto;
  width: 20vw;
  height: 60vh;
  /* border: 1px solid #00e1ff; */
  background-image: url('../../../content/destination-3.png');
  background-repeat: no-repeat;
  background-size: 20vw 60vh;

  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 3vh;
}

.dl_card1:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.dl_card2:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.dl_card3:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.dl_content {
  background: white;
  /* border: 1px solid #00e1ff; */

  margin-top: 43vh;
  height: 17vh;
  border-bottom-left-radius: 2.9vh;
  border-bottom-right-radius: 2.9vh;
}

.dl_details {
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vmax;
  color: #5e6282;
  margin: auto;
  width: 15vw;
  padding-top: 3.5vh;
}

.dl_amount {
  margin-left: auto;
}

.dl_navigation {
  display: flex;
  margin: auto;
  width: 15vw;
  padding-top: 3.5vh;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vmax;
  line-height: 1.8vh;
  /* padding-left: 1vw; */
  color: #5e6282;
}

.dl_navimg {
  padding-right: 0.8vw;
}

.dl_navimg img {
  width: 2vh;
}
