.footer_container {
  /* border: 1px solid rgb(255, 0, 0); */
  
  height: 305.2px;
  width: 1213.44px;
  margin: auto;
}

.footer_content {
  height: 228.9px;
  display: flex;
}

.footer_copyright {
  /* border: 1px solid rgb(68, 0, 255); */
  height:76.3px;
  /* color: #5e6282; */
  font-family: 'Poppins';
  font-size: 0.78rem;
  text-align: center;
}

.footer_1 {
  width: 276.48px;
}

.footer_2 {
  width: 691.2px;
  display: flex;
}

.footer_2c {
  margin: auto;
  margin-top: -0.5px;
  /* margin-top: -0.1vmax; */
}

.fTitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bolder;
  font-size: 1.15rem;
  /* font-size: 1.2vmax; */
  line-height:  106.82px;
  color: #080809;
}

.fDesc {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 0.95rem;
  /* font-size: 1vmax; */
  line-height: 22px;
  /* line-height: 1.5vmax; */
  /* color: #5e6282; */
  cursor: pointer;
  margin-bottom: 10px;
  /* margin-bottom: 0.6vmax; */
}

.footer_3 {
  width: 307.2px;
}

.footer_company {
  color: #080809;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 2.85rem;
  /* font-size: 3vmax; */
  line-height: 106.82px;
}

.footer_companyDesc {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 20px;
  /* color: #5e6282; */
}

.footer_socials {
  display: flex;
  margin-top: 30px;
  /* margin-top: 2vmax; */
  width: 215.04px;
}

.footer_social {
  margin: auto;
  width: 61.44px;
  height: 76.3px;
}

.footer_footer32 {
  width:  215.04px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 124.5%;
  letter-spacing: 0.005em;
  /* color: #5e6282; */
  text-align: center;
}

.footer_footer33 {
width: 70%;
  margin-top: 20px;
  /* margin-top: 1.2vmax; */
  display: flex;
}

.footer_footer33 a {
  margin-right: 15px;
  /* margin-right: 1vmax; */
}

@media all and (max-width: 600px) {
  .footer_container {
    height: 640px;
    width: 95%;
  }
  .footer_content {
    height: 600px;
    flex-wrap: wrap;
  }
  .footer_2c {
    margin-top: -20px;
  }
  .fTitle {
    font-size: 1rem;
    line-height:  60px;
  }
  .fDesc {
    font-size: 0.8rem;
  }
  .footer_3 {
    width: 100%;
    margin: auto;
  }
  .footer_socials {
    margin-top: -50px;
    width: 100%;
  }
  .footer_footer32 {
    width:  100%;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.005em;
    text-align: center;
  }
  
  .footer_footer33 {
    margin-top: 20px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  .footer_footer33 a {
    margin-right: 15px;
  }
  .footer_copyright {
    /* border: 1px solid rgb(68, 0, 255); */
    height:30px;
  }
}