.footer_container {
  /* border: 1px solid rgb(255, 0, 0); */
  height: 40vh;
  width: 79vw;
  margin: auto;
}

.footer_content {
  height: 30vh;
  display: flex;
}

.footer_copyright {
  height: 10vh;
  /* color: #5e6282; */
  font-family: 'Poppins';
  font-size: 0.8vmax;
  text-align: center;
}

.footer_1 {
  width: 18vw;
}

.footer_2 {
  width: 45vw;
  display: flex;
}

.footer_2c {
  margin: auto;
  margin-top: -0.1vmax;
}

.fTitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bolder;
  font-size: 1.2vmax;
  line-height: 14vh;
  color: #080809;
}

.fDesc {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1vmax;
  line-height: 1.5vmax;
  /* color: #5e6282; */
  cursor: pointer;
  margin-bottom: 0.6vmax;
}

.footer_3 {
  width: 20vw;
}

.footer_company {
  color: #080809;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 3vmax;
  line-height: 14vh;
}

.footer_companyDesc {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vmax;
  line-height: 124.5%;
  /* color: #5e6282; */
}

.footer_socials {
  display: flex;
  margin-top: 2vmax;
  width: 14vw;
}

.footer_social {
  margin: auto;
  width: 4vw;
  height: 10vh;
}

.footer_footer32 {
  width: 14vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 124.5%;
  letter-spacing: 0.005em;
  /* color: #5e6282; */
  text-align: center;
}

.footer_footer33 {
  margin-top: 1.2vmax;
}

.footer_footer33 a {
  margin-right: 1vmax;
}
