* {
  margin: 0;
  padding: 0;
}

.tm_container {
  /* border: 1px solid rgb(253, 0, 0); */
  margin: auto;
  height: 381.5px;
  width: 1512px;
}

.tm_contents {
  display: flex;
  margin: auto;
}

@media all and (max-width: 600px) {
  .tm_container {
    height: 650px;
    width: 350px;
  }
  .tm_contents {
    flex-wrap: wrap;
  }
}